:root {
  --color-yellow: #ffd700;
  --color-blue: #0033a0;
  --color-red: #da291c;
  --color-p-black: #333333;
  --color-gray: #666666;
  --color-shadow: #dddddd;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
