.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
}

.cta {
  padding: 2rem 1.5rem;
}

.cta_title {
  color: var(--color-gray);
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.75px;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
}

.cta_btn {
  padding: 1rem 1.5rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  border: none;

  cursor: pointer;
  width: auto;
  text-decoration: underline;

  box-shadow: 0px 4px 4px var(--color-shadow);
}
