.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 620px;
  margin: 0 auto;
}

.form textarea {
  padding: 1rem;
  resize: none;
  height: 162px;
  color: var(--color-p-black);
  background-color: #ececec;
  border: 1px solid var(--color-shadow);
  resize: none;
  font-family: 'Lato', sans-serif;
}

.form button {
  padding: 0.75rem 1.5rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: auto;
  box-shadow: 0px 4px 4px var(--color-shadow);
  margin-top: 1rem;
}

.form p {
  color: var(--color-gray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.form_warning {
  background-color: var(--color-red);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.form_warning p {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.form .upload button {
  all: unset;
  cursor: pointer;
  padding: 0.5rem 1rem;

  color: var(--color-black);
  border-style: dashed;
  border-color: var(--color-blue);
}

.form .upload input {
  display: none;
}

.form .image {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.form .remove {
  all: unset;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--color-red);
  color: var(--color-white);
}
